# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Flask
instance/

# Database
*.db
*.sqlite
*.sqlite3

# Generated audio
audio/*
!audio/.gitkeep

# Generated data
data/*
!data/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
